body{
    font-family: 'Montserrat-thin';
    
}
#title{
    background-color: #ff4c68;
    color: #fff;

}
.container-fluid{
    padding: 3% 15% 7%;
}
h1,h2,h3,h4,h5 h6{
    font-family: 'Montserrat',sans-serif;
  
}
h2{
    
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bold;
}
h3{
    
    font-size: 1.5rem;
    font-weight: 900;
}
p{
    color: #8f8f8f;
}
.big-heading{
    
    font-size: 3.5rem;
    line-height: 1.5;
}
.navbar{
    padding:0 0 4.5rem;
}

/* Navigation bar */
.navbar-brand{
    font-family: 'ubuntu';
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'montserrat-light';
}

/* Download Button */
.Download-button{

    margin: 5% 3% 5% 0;
}
/* Title image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: relative;
    left: 30%;
}
/* feature section */
#features{
    background-color: white;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
    bottom: 200px; 
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
/* Testimonial section */
#testimonials{
    
    text-align: center;
    background-color:#ef8172;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color:#ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 15px;
}
.carousel-item{
    padding: 7% 15%;
}
/* pricing section */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
@media (max-width: 1028px) {
    #title{
        text-align: center;

    }
    .title-image{
        position: static;
        transform: rotate(0);
    }

}
/* Footer section */
#cta{
    
    background-color: #ff4c68;
    text-align: center;
    color: white;
    padding: 7% 15%;
    
}
.cta-heading{
    font-family: 'montserrat-black', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
       
}

#footer{
    
    text-align: center;
    padding: 7% 15%; 
}
.Social-icon{
    margin: 20px 10px;
}